<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bootdemo.dao.OrdersMapper">
    <select id="selectOrders" resultType="com.bootdemo.domain.Orders">
        SELECT * FROM orders WHERE orderId = #{orderId}
        <if test="cardId !=null and cardId !=''">
            and cardId = #{cardId}
        </if>
    </select>

    <select id="selectIsPayOrdersByUserId" resultType="com.bootdemo.domain.Orders">
        SELECT * FROM orders WHERE isPay = 1 AND userId = #{userId} ORDER BY orderId desc
    </select>

    <select id="selectOrdersByUserIdIsPay" resultType="com.bootdemo.domain.Orders">
        SELECT * FROM orders WHERE isPay = #{isPay} AND userId = #{userId} ORDER BY orderId desc
    </select>




    <select id="selectTicketId" resultType="java.lang.Integer">
        SELECT ticketId FROM orders WHERE orderId = #{orderId}
    </select>

    <select id="selectUser" resultType="com.bootdemo.domain.User">
        SELECT cardId,userName FROM orders WHERE orderId = #{orderId}
    </select>

    <select id="selectSectionId" resultType="java.lang.Integer">
        SELECT sectionId FROM orders WHERE orderId = #{orderId}
    </select>


    <insert id="insertOrders" useGeneratedKeys="true" keyProperty="orderId">
        INSERT INTO orders(userId,cardId,userName,sectionId,ticketId,
        isAdule,isPay,isChange)
        VALUES (#{userId},#{cardId},#{userName},#{sectionId},#{ticketId},
        #{isAdule},#{isPay},#{isChange})
    </insert>

    <insert id="insertOrdersByList" useGeneratedKeys="true" keyProperty="orderId">
        INSERT INTO orders(userId,cardId,userName,sectionId,ticketId,
        isAdule,isPay,isChange) VALUES
        <foreach collection ="ordersList" item="orders"  index= "index"  separator="," >
            (#{orders.userId},#{orders.cardId},#{orders.userName},#{orders.sectionId},#{orders.ticketId},
            #{orders.isAdule},#{orders.isPay},#{orders.isChange})
        </foreach >
    </insert>

    <update id="updateOrdersForTicketAndSellByList"  parameterType="java.util.List">
        <foreach collection="ordersList" item="item" index="index" open="" close="" separator=";">
            update orders
            <set>
                ticketId=${item.ticketId},
                isPay=1
            </set>
            where orderId = ${item.orderId}
        </foreach>
    </update>


</mapper>